
/*.recip_box{
    
    margin: 0;
    padding: 0;
    

    font-family: $font-family;
    color: rgb(253, 249, 246);


.form_recip{
    .label{
        text-align: center;
    }
    border: 2px solid rgb(116, 25, 25);
      margin-left: 34%;
      margin-right: 34%;
      margin-top: 30px;
      margin-bottom: 10px;
      border-radius: 6px;
      position: relative;

      
      }
      .form_recip:hover {
        box-shadow: 0 0 5px 8px rgba(245, 245, 248, 0.973);
      
      }
    }*/