body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  .h-header {
    width: 100%;
    margin-top: 0;
    z-index: 9000;
    height: 100%;
    .menu {
      width: 100%;
      height: 80px;
      

      display: flex;
      justify-content: space-between;

      .header-right {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: right;

        .m-link {
          text-decoration: none;
          color: $textcolor;
          padding: 0;
          margin: 0 10px;
          text-transform: uppercase;
          margin-right: 30px;
          
        }
        .m-link:hover {
          text-decoration: underline;
        }

        .resp {
          width: 30px;
          height: 50px;
          display: none;
          align-items: center;
          cursor: pointer;
          margin-right: 30px;

          span.nav-toggle,
          span.nav-toggle:before,
          span.nav-toggle:after {
            content: "";
           display: flex;
            width: 100%;
            height: 2px;
            background: red;
            position: relative;
          }
          span.nav-toggle:before {
            top: 10px;
          }
          span.nav-toggle:after {
            top: -14px;
          }
        }
      }

      .logo {
        margin: 0;
        padding: 12;
        width: 250px;
        height: 100px;
      }
    }
  }
}

